@charset "UTF-8";

html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--black-500);
    background: radial-gradient(circle at 0% 50px, var(--primary-900) 0%, #000 40%);
    background-attachment: fixed;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    gap: 30px;
}

main > section {
    width: calc(100vw - 40px);
    max-width: 1100px;
    margin: 20px auto;
}

.img-blend-lighten {
  mix-blend-mode: lighten;
  /*mix-blend-mode: multiply;*/
}