@charset "UTF-8";

section#formacao {
    position: relative;
    display: flex;
    min-height: calc(100vh - 120px);
    align-items: center;
    justify-content: space-between;
    color: var(--white-500);
}


section#formacao .conteudo-formacao {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

section#formacao .conteudo-formacao h2 {
    display: block;
    width: 60%;
    font-size: 2rem;
    font-weight: 400;
}

section#formacao .conteudo-formacao b {
    color: var(--primary-500);
    font-weight: bolder;
}

section#formacao img {
    position: absolute;
    right: 0px;
    transform: translateY(-50%);
    top: 50%;
    right: 0px;
    width: 40%;
    border-radius: 10px;
}

section#formacao .conteudo-formacao p {
    width: 60%;
    opacity: .8;
    font-size: .9rem;
    line-height: 1.4rem;
}

section#formacao .conteudo-formacao strong {
    color: var(--primary-500);
}

section#formacao .conteudo-formacao ul {
    width: 100%;
    list-style: none;
}

section#formacao .conteudo-formacao ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

section#formacao .conteudo-formacao ul li i {
    color: var(--primary-500);

    left: 0;
    font-size: 1.8rem;
}

@media (max-width: 760px) {
    section#formacao {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        min-height: auto;
        padding: 20px 0;
    }

    section#formacao img {
        position: relative;
        transform: translateY(0px);
        height: auto;
        width: 80%;
    }

    section#formacao .conteudo-formacao {
        width: 100%;
        max-width: none;
        align-items: center;
    }

    section#formacao .conteudo-formacao h2 {
        width: 80%;
        text-align: center;
        font-size: 1.5rem;
    }
    
    section#formacao .conteudo-formacao p {
        width: 80%;
        text-align: center;
    
    }
    
    section#formacao .conteudo-formacao li p {
        width: 100%;
        text-align: left;
    }
}   