@charset "UTF-8";

section#metodologia {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 70px);
    max-width: 100vw;
    margin-top: -40px;
    color: var(--white-500);
    background-color: var(--black-800);
}

section#metodologia .content-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    max-width: 1100px;
    height: 100%;
}


section#metodologia .conteudo-metodologia {
 
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;
    width: 50%;
    font-family: "Poppins", sans-serif;
    
}

section#metodologia .conteudo-metodologia h2 {
    display: block;
    width: 90%;
    font-size: 2rem;
    font-weight: 400;
}

section#metodologia .conteudo-metodologia b {
    color: var(--primary-500);
    font-weight: bolder;
}

section#metodologia img {
    position: absolute;
    left: 0px;
    transform: translateY(-50%);
    top: 50%;
    right: 0px;
    width: 40%;
    border-radius: 30px;
    box-shadow: 5px 5px 15px var(--black-900-op40);
}

section#metodologia .conteudo-metodologia p {
    width: 60%;
    opacity: .8;
    font-size: .9rem;
    line-height: 1.4rem;
}

section#metodologia .conteudo-metodologia span, section#metodologia .conteudo-metodologia b {
    color: var(--primary-500);
}

section#metodologia .conteudo-metodologia ul {
    width: 100%;
    list-style: none;
}

section#metodologia .conteudo-metodologia ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

section#metodologia .conteudo-metodologia ul li i {
    color: var(--primary-500);
    left: 0;
    font-size: 2rem;
}

@media (max-width: 760px) {
    section#metodologia {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        min-height: auto;
        padding: 20px 0;
    }

    section#metodologia img {
        position: relative;
        transform: translateY(0px);
        height: auto;
        width: 80%;
    }

    section#metodologia .conteudo-metodologia {
        width: 100%;
        max-width: none;
        align-items: center;
    }

    section#metodologia .conteudo-metodologia h2 {
        width: 80%;
        text-align: center;
        font-size: 1.5rem;
    }
    
    section#metodologia .conteudo-metodologia p {
        width: 80%;
        text-align: center;
    
    }
    
    section#metodologia .conteudo-metodologia li p {
        width: 100%;
        text-align: left;
    }
}   