@charset "UTF-8";

section#preMatricula {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 70px);
    max-width: 100vw;
    margin: -40px auto;
    color: var(--black-700);
    background-image: linear-gradient(to right, #E0DAD5, #E0DAD5);
}

section#preMatricula .content-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    max-width: 1100px;
    height: 100%;
}


section#preMatricula .conteudo-pre_matricula {
 
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;
    width: 50%;
    font-family: "Poppins", sans-serif;
    
}

section#preMatricula .conteudo-pre_matricula h2 {
    display: block;
    width: 90%;
    font-size: 2rem;
    font-weight: 400;
}

section#preMatricula .conteudo-pre_matricula b {
    font-weight: bolder;
}

section#preMatricula img {
    position: absolute;
    left: 0px;
    transform: translateY(-50%);
    top: 50%;
    right: 0px;
    height: 160%;
    width: auto;
    max-height: calc(100vh - 70px);
    min-height: 480px;

    
}

section#preMatricula .conteudo-pre_matricula p {
    width: 60%;
    opacity: .8;
    font-size: .9rem;
    line-height: 1.4rem;
}

section#preMatricula .conteudo-pre_matricula b {
    color: var(--primary-strong-800);
    text-shadow: 0px 0px 1px var(--black-400);
}

section#preMatricula .conteudo-pre_matricula ul {
    width: 100%;
    list-style: none;
}

section#preMatricula .conteudo-pre_matricula ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
    color: var(--black-700) !important;
}

section#preMatricula .conteudo-pre_matricula ul li i {
    color: var(--success-600);
    left: 0;
    font-size: 1.1rem;
}

section#preMatricula .button {
    display: block;
    width: fit-content;
    padding: 1rem 2rem;
    margin: 1rem 0 0 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #5FDB9B 0%, #18804A 50%, #22A864 100%);
    color: var(--white-500);
    font-weight: 700;
    white-space: nowrap;
    text-shadow: 0px 0px 3px var(--black-500);
    text-decoration: none;
}

section#preMatricula .button:hover {
    background: linear-gradient(180deg, #22A864 0%, #115C36 50%, #18804A 100%);
    transition: .3s ease-in-out;
}

@media (max-width: 760px) {
    section#preMatricula {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        min-height: auto;
        padding: 20px 0;
    }

    section#preMatricula img {
        position: relative;
        transform: translateY(0px);
        height: auto;
        min-height: unset;
        width: 80%;
    }

    section#preMatricula .conteudo-pre_matricula {
        width: 100%;
        max-width: none;
        align-items: center;
    }

    section#preMatricula .conteudo-pre_matricula h2 {
        width: 80%;
        text-align: center;
        font-size: 1.5rem;
    }
    
    section#preMatricula .conteudo-pre_matricula p {
        width: 80%;
        text-align: center;
    
    }
    
    section#preMatricula .conteudo-pre_matricula li p {
        width: 100%;
        text-align: left;
    }
}   